nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    
}
nav img{
    width: 50px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-transform: uppercase;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-weight:500 ;
}
/* .nav-links ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background: #fffdfd;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
} */
.nav-links ul li a:hover{
    color: black;
    background-color: #fff;
    border-radius: 15px;
}
.nav-links ul li .active{
    color: black;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 15px;
  }
nav .f{
    display: none;
}
.fa{
    font-size: 18px;
}
@media(max-width:880px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background-color: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links ul li:hover::after{
        width: 0%;
    }
}

.con{
    padding-top: 60px;
}
.contacttext{
    padding-top: 50px;
    padding-left: 80px;
    
}
form{
    padding-top: 10px;
}
label{
padding-top: 10px;
}
input{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: #F5F5DC;
}
option{
    background-color: #F5F5DC;
}
select{
    background-color: #F5F5DC;
    border: none;
    border-bottom: 1px solid black;
}
.btnsubmit{
    background-color: red;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error{
    color: red;
}
.map{
    width: 100%;
    height: 100%;
}

footer{
    background-color: black;
    color: goldenrod;
}
.footer{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerlogo{
    height: 100px;
    
}
footer div h6{
    text-align: center;
    padding-top: 10PX;
}
footer div p{
    text-align: center;
}
.f{
    color: goldenrod;
   }

.fi{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 15PX;
}